#find_loc,
#add_item
{   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    
}

#find_loc_heading{
    padding:0px;
    margin: 0px;
    text-align: center;
}

nav{
    background-color: #26a69a;
}
.right-row {
    min-width: 40px;
    text-align: center;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin-left: auto;
    background: #eee;
}

.card-horiz {
    display: flex;
    flex-flow: row;
}

.upvote, .downvote {
    margin: auto;
    cursor: pointer;
    display: flex;
}

.upvote .material-icons, .downvote .material-icons {
    font-size: 32px;
}

.upvote:hover, .downvote:hover {
    transform: scale(1.1);
}

.color-green {
    color: #07ff07;
}

.color-red {
    color: red;
}
