{% extends 'layouts/base.html' %}

{% block css %}
<style>
    #header {
        margin-bottom: 24px;
        display: flex;
        flex-flow: row;
    }

    .right {
        margin-left: auto;
    }

    @media (max-width: 600px) {
        #header {
            display: block;
        }

        #dash-btn {
            margin: 0 12px;
        }
    }
</style>
{% endblock %}

{% block body %}

<div id="find_loc" class="d-flex w-50">
    <div id="find_loc_heading">
        <h4>Enter your requirements</h4>
    </div>

    <div class="row">
        <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">dashboard customize</i>
            <input type="text" id="autocomplete-input-item" class="autocomplete">
            <label for="autocomplete-input-item">Item</label>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">map</i>
                <input type="text" id="autocomplete-input-state" class="autocomplete">
                <label for="autocomplete-input-state">State</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">location_on</i>
                <input type="text" id="autocomplete-input-city" class="autocomplete">
                <label for="autocomplete-input-city">City</label>
                </div>
            </div>
        </div>
    </div>

    <a class="waves-effect waves-light btn">Find</a>

</div>

{% endblock %}

{% block js %}

<script>
    
    $(document).ready(function(){
        $('#autocomplete-input-city').autocomplete({
        data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
        },
        });
    });

</script>

{% endblock %}